<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    
    <!--<add name="ViewMobile.Pediddo.Core.Data.Properties.Settings.PediddoConnectionString"
        connectionString="Data Source=raul;Initial Catalog=Pediddo;Persist Security Info=True;User ID=Pediddo;Password=cade163c#"
        providerName="System.Data.SqlClient" />-->

    <add name="ViewMobile.Pediddo.Core.Data.Properties.Settings.PediddoConnectionString" connectionString="Server=tcp:cangorua.database.windows.net,1433;Initial Catalog=cangoruadb;Persist Security Info=False;User ID=cangoruadb;Password=Super163c#podequandojapo2134@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CultureInfo" value="pt-BR" />
    <add key="SenderEmailAccount" value="suporte@pediddo.com.br" />
    <add key="StorageConnectionString.Pediddo" value="DefaultEndpointsProtocol=https;AccountName=blobscangorua;AccountKey=yvDaalPW8tuylFB3RTNQYvDLfC1X9VPzGC9BtD4gTSdpn1IW67FaCX7Ha4lz78fuXHhhfSDzT5pVxONt7NFwhg==;EndpointSuffix=core.windows.net" />
    <add key="ContainerAppImage" value="containerblobcangorua" />
    <add key="SendSellerLocationTrackingTime" value="1200" />
    <add key="PediddoNotificationEndpoint" value="Endpoint=sb://pediddo.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=tTUu9B6spEWsnrAcAsDIoV6yxQVaZXrINitXDSkm+Qs=" />
    <add key="ShareStoreLink" value="SHARE-STORE-LINK" />
    <add key="VendaEmailAccount" value="Venta Pediddo &lt;venta@pediddo.com.py&gt;" />
    <add key="SoporteEmailAccount" value="Suporte Pediddo &lt;soporte@pediddo.com.py&gt;" />
    <add key="BannerSerialKey" value="9975-C4FC-583D-D039-6A55-7553-E13E-861A-BCE3-CAC3-1BCB-8576" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxUrlLength="2097151" />
  </system.web>
  <system.serviceModel>

    <services>
      <service name="ViewMobile.Pediddo.WebService.Mobile.PediddoService">
        <endpoint address="rest" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="MyWebHttpBinding" contract="ViewMobile.Pediddo.WebService.Mobile.IPediddoService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="CustomHttpBinding" contract="ViewMobile.Pediddo.WebService.Mobile.IPediddoService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="CustomHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="12:00:00" receiveTimeout="12:00:00" closeTimeout="12:00:00" sendTimeout="12:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="MyWebHttpBinding" transferMode="Buffered" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <!--<security mode="Transport" />-->
          <readerQuotas maxDepth="64" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxArrayLength="2147483647">
          </readerQuotas>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>

      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>

    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
